:root{
  --Black: #000000;
  --Course-wool: #1a1c2a;
  --Midnight-Express: #222437;
  --Holly-Green: #0C9574;
  --Wild-Caribbean-Green: #10CE99;
  --Bluebell: #30419B;
  --Dazzling-Blue: #3D4DA8;
  --Hot-Sun: #F9BA2C;
  --Termite-Beige: #E0BC6A;
  --Thimbleberry: #DE4E51;
  --Fluorescent-Red: #FC5454;
  --Gulf-Blue: #32395B;
  --Bright-Zenith: #747DB1;
  --Lunar-Dust: #C9CBDC;
  --White: #ffffff;
  --Moon-White: #E8F2FB;

  --xsm: 12px;
  --sm: 14px;
  --md: 16px;
  --lg: 20px;
  --xlg: 25px;
  --xxlg: 30px;
  --xxxlg: 35px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #233553;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #97ca3f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}